body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: #ddd;
  color: #37474f;
}
.App {
  width: 375px;
  height: 667px;
  border: 1px solid #dadada;
  margin: 25px auto;
  background: white;
}
