.chatContainer {
  display: flex;
  flex-direction: column;
  height: calc(667px - 132px);
  box-sizing: border-box;
  background: #f8f8f8;
  border-radius: 6px;
  margin: 16px;
  padding: 9px 0 0;
}
.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.step-options {
  background: #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.slider-with-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
